<mat-card *ngFor="let quoteWithName of quotesWithNames">
  <mat-card-title
    >{{ quoteWithName.symbolAndName.name }}
    <div class="arrow-up" *ngIf="quoteWithName.quote.change >= 0">🡹</div>
    <div class="arrow-down" *ngIf="quoteWithName.quote.change < 0">🡻</div>
    <button mat-button class="delete-button" (click)="deleteStock(quoteWithName.symbolAndName.symbol)">X</button></mat-card-title
  >
  <mat-card-content>
    Change today: {{ quoteWithName.quote.percentChange / 100 | percent: "0.2" }}<br />
    Opening price: {{ quoteWithName.quote.openPriceOfDay | currency: "USD" }}<br />
    Current price: {{ quoteWithName.quote.currentPrice | currency: "USD" }}<br />
    High price:
    {{ quoteWithName.quote.highPriceOfDay | currency: "USD" }}
  </mat-card-content>
  <mat-card-actions>
    <a [routerLink]="'/sentiment/' + quoteWithName.symbolAndName.symbol"
      ><button mat-raised-button color="primary">Go to social sentiment details ></button></a
    >
  </mat-card-actions>
</mat-card>
